<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
	 <link rel="stylesheet" href="../css/style.css">
	 <link href="https://fonts.googleapis.com/css?family=Acme|BenchNine|Francois+One|Open+Sans+Condensed:300|Satisfy|Rouge+Script|Dancing+Script" rel="stylesheet">
	<script src="../js/jquery.js"></script>
	<script src="../js/script.js"></script>
</head>
<body>
<div class="container">
	<a href="/tasks/show" class="side">Archives</a>
	</body><br>
	<a href="/users/logout" class="side" id="logout">Logout</a>
	<h1>The Mixer</h1>
	
	{{#alcohol}}
	<img src="{{{strDrinkThumb}}}" id="main_image">
	
	<div class="inner_container">
	
	<form action="/recipes" method="POST">
	<h2>{{strDrink}}</h2>
	<p id="alcoholPref">{{strAlcoholic}}</p>
	<ul class="ingredients">
		<li>{{strMeasure1}} {{strIngredient1}}</li>
		<li>{{strMeasure2}} {{strIngredient2}}</li>
		<li>{{strMeasure3}} {{strIngredient3}}</li>
		<li>{{strMeasure4}} {{strIngredient4}}</li>
		<li>{{strMeasure5}} {{strIngredient5}}</li>
	</ul>
	<p id="instructions">{{strInstructions}}</p>
	<button type="submit" value="submit" id="save">SAVE</button>
	<br>
	{{/alcohol}}
	<a href="/recipes/new" id="new_recipe">Add New Recipe</a>
	<br>
	<br>
	<br>

	</div>
		<button id="refresh">Another, please!</button>
	
</body>

</html>