main {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

#header {
	background-position: top center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

h1 {
	color: white;
	text-shadow: 4px 4px 16px #FCA300;
	text-align: center;
	margin: 2px;
	font-family: 'Rouge Script', cursive;
	font-size: 90px;
	font-weight: 5em;
	padding-top: 5px;
}

h2 {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
}

p {
	text-align: center;
	margin-top: 4px;
	font-family: 'BenchNine', sans-serif;
	margin-right: 10px;
}

input {
	padding: 1px;
	margin: 0;
}

li {
	font-family: 'Open Sans Condensed', sans-serif;
	list-style-type: none;
	font-size: 20px;
}

a {
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #1EAEDB;
	display: block;
	margin: 0 auto;
	text-align: center;
}

img {
	display: center;
	margin: 0 auto;
}

#login_header{
	font-size: 110px;
}

#join {
	color: #FFD180;
	text-shadow: 4px 4px 10px #E4D600;
	font-size: 85px;
}

.inner_container {
	margin-top: 14%;
	width: 80%;
	margin-right: 10px;
	margin-left: 5px;
}

.container1 {
	width: 80%;
	height: 80%;
}

.container1 p {
	font-size: 18px;
}

#new {
	border: 1px dashed #FCA300;
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: center;
}

#main_header {
	margin-bottom: 10px;
	padding-bottom: 3px;
}

#img {
	margin-top: 53px;
	margin-bottom: 10px;
	float: right;
	position: relative;
}


#alcoholPref {
	font-family: 'Dancing Script', cursive;
	text-align: left;
	font-size: 18px;
}

.side {
	display: block;
	float: right;
}

#save {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#refresh {
	position: absolute;
	float: right;
	margin-top: 10px;
}

#new_recipe {
	text-align: center;
}

#instructions {
	font-size: 27px;
	font-family: 'BenchNine', sans-serif;
	margin-right: 10px;
}

#concoction {
	font-family: 'BenchNine', sans-serif;
	font-size: 35px;
	margin-left: 7px;
}

.saved_image{
	height: 300px;
	width: 400px;
}

#recipeName {
	top: 18%;
}

a:hover {
	color: #9AD192;
}

a:visited {
	color: #F4D33D;
}